<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(CONFIG_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.632218606326-i5kb00502qaldb0j8n8j6nojn3etpapf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.632218606326-1qurlno076aansd6b4v5gildndgbvrlg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>CLIENT_ID</key>
	<string>$(CLIENT_ID)</string>
	<key>CONFIG_NAME</key>
	<string>$(CONFIG_NAME)</string>
	<key>DEMO_ACCOUNT_GOOGLE_ID</key>
	<string>$(DEMO_ACCOUNT_GOOGLE_ID)</string>
	<key>DOMAIN_BRICKS_SERVER</key>
	<string>$(DOMAIN_BRICKS_SERVER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PATH_APP_USER</key>
	<string>$(PATH_APP_USER)</string>
	<key>PATH_AUTH_TOKEN</key>
	<string>$(PATH_AUTH_TOKEN)</string>
	<key>PATH_FEEDBACK</key>
	<string>$(PATH_FEEDBACK)</string>
	<key>PATH_INVITE</key>
	<string>$(PATH_INVITE)</string>
	<key>PATH_JOIN</key>
	<string>$(PATH_JOIN)</string>
	<key>PATH_STATS</key>
	<string>$(PATH_STATS)</string>
	<key>PATH_TASK</key>
	<string>$(PATH_TASK)</string>
	<key>PATH_TEAM</key>
	<string>$(PATH_TEAM)</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>$(REVERSED_CLIENT_ID)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
